@charset "utf-8";
/* CSS Document */
/**
* Author: chenchang
* Version: 1.0
* Last Changed by chenchang
* Last Update : 2015-05-26*/
/*reset*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
br,
form,
input,
button,
textarea,
select,
fieldset,
legend,
blockquote,
ul,
ol,
li,
dl,
dt,
dd,
pre,
table,
caption,
tr,
td,
th {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  font-weight: 400;
  
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  position: relative;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
}
